* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: crimson;
}

.card {
  width: 700px;
  background: #ccc;
  padding: 20px;
  margin: 20px;
  font-family: sans-serif;
  line-height: 28px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Ширина скроллбара */
  background-color: transparent; /* Полностью невидимый скроллбар */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#21d4fd, #b721ff); /* Градиентный фон только на thumb */
  border-radius: 100px; /* Скругленные края */
}
